# ======================
# Python bytecode / cache
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Pytest
# ======================
.pytest_cache/

# ======================
# Virtual environments
# ======================
meigo_env/
.venv/
env/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS noise
# ======================
.DS_Store
Thumbs.db

